/*
    DEMO STYLE
*/


body {
    
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #80868b;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    z-index: 999;
    background: #fefeff;
    color: #3c4043;;;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);;
}

#sidebar.active {
    left: 0;
}

#sidebarCollapse{
    color: #4c5054;
    background-color: #fff;
}

#sidebarCollapse:hover{
    background-color: #eeeef5;
    border-radius: 5rem;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #ececff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fefeff;
    color: #3c4043;;
}

/* .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
} */
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:#ececff;
    color: #4c5054;

}

.logo{
    color: #4c5054;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fefeff;
}

#sidebar ul p {
    color: #80868b;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 0.975rem;
    display: block;
    font-weight: 600;
   line-height: 20px;
   padding-bottom: 20px;
}

#sidebar ul li a:hover {
    color: #3c4043;;
    background: #ececff;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #3c4043;;
    background: #ececff;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fefeff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fefeff;
    color: #3c4043;;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #3c4043 !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/* #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
} */