.jumbotron{
    background-image: url(assets/img/jcard.jpg);
    height:20rem;
    margin-bottom: -5px;
}

.card{
    
    height:100%;
    margin-top: -20px;
    border-radius: 25px;
    width:80%;
}
